@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");

.div-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15ch;
}

.container-login {
  padding: 3ch 3ch;
  border-radius: 10%;
  box-shadow: 0 0 10px gray;
}

.title-login {
  font-size: xx-large;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 3vh;
}

.parag-login {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: large;
  margin-bottom: 8vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 4ch;
  justify-content: center;
  align-items: center;
}

.input-login {
  border: none;
  border-bottom: 0.2ch solid;
  width: 70%;
  font-family: cursive;
  outline: none;
}

.btn-login {
  width: 70%;
  height: 5ch;
  background-color: #c53f3f;
  border: solid #c53f3f 0.3ch;
  color: white;
  font-size: larg;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 4ch;
  outline: none;
}

.btn-login:hover {
  background-color: white;
  color: #c53f3f;
  cursor: pointer;
  transition: 0.8s;
}

.img-login {
  height: 80%;
  width: 80%;
}

.error-message {
  margin-bottom: 2ch;
    font-family: system-ui;
    color: #c53f3f;
    font-weight: bold;
    font-size: 0.9rem;
}

