.div-home {
  display: grid;
  grid-template-columns: 18ch auto;
}

.div-left-menu {
  font-family: 'Aclonica', sans-serif;
  background-color: #c53f3f;
  height: calc(100vh - 76px);
  height: 100%;
  box-shadow: 0 0 20px #c53f3f;
  padding-top: 8ch;
  padding-bottom: 23ch;
}

.div-left-menu div {
  display: flex;
  gap: 1ch;
  margin-left: 1ch;
    color: white;
    cursor: pointer;
  }
  
  .div-left-menu div:hover {
  text-shadow: 0 0 15px;
}

.div-left-menu div:first-child {
  margin-bottom: 10ch;
}

.users-icon {
  font-size: 2rem;
  margin-top: -5px;
}