.table {
  margin: auto;
  margin-top: 5ch;
}

th,
td {
  border: 1px solid #f5e3e3;
  font-family: "Montserrat", sans-serif;
  padding: 1ch 2ch;
}

@media (max-width: 557px) {
  th,
  td {
    border: 1px solid #f5e3e3;
    font-family: "Montserrat", sans-serif;
    padding: 0ch 0ch;
  }
}